---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ service }}
spec:
  gateways:
  {% for i in gateways %}
  {% if '/' in i %}
  - '{{ i }}'
  {% else %}
  - '{{ namespace }}/{{ i }}'
  {% endif %}
  {% endfor %}
  hosts:
  - '*'
  http:
  - match:
    - uri:
        prefix: '{{ prefix }}'
    rewrite:
      uri: '{{ rewrite or prefix }}'
    route:
    - destination:
        host: '{{ service }}.{{ namespace }}.svc.cluster.local'
        port:
          number: {{ port }}
