---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ service }}
  labels:
    app.{{ app_name }}.io/is-workload-entity: "true"
spec:
  gateways:
  - '{{ namespace }}/{{ gateway }}'
  hosts:
  - '*'
  http:
  - match:
    - uri:
        prefix: '{{ prefix }}'
    rewrite:
      uri: '{{ rewrite or prefix }}'
    route:
    - destination:
        host: '{{ service }}.{{ namespace }}.svc.cluster.local'
        port:
          number: {{ port }}
