---
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: {{ envoyfilter_name }}
  namespace: {{ envoyfilter_namespace }}
spec:
  configPatches:
  {% for gateway_port in gateway_ports %}
    - applyTo: HTTP_FILTER
      match:
        context: GATEWAY
        listener:
          portNumber: {{ gateway_port }}
          filterChain:
            filter:
              name: "envoy.filters.network.http_connection_manager"
      patch:
        # For some reason, INSERT_FIRST doesn't work
        operation: INSERT_BEFORE
        value:
          # See: https://www.envoyproxy.io/docs/envoy/v1.17.0/configuration/http/http_filters/ext_authz_filter#config-http-filters-ext-authz
          name: "envoy.filters.http.ext_authz"
          typed_config:
            '@type': type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
            http_service:
              server_uri:
                uri: http://{{ auth_service_name }}.{{ auth_service_namespace }}.svc.cluster.local:{{ port }}
                cluster: outbound|{{ port }}||{{ auth_service_name }}.{{ auth_service_namespace }}.svc.cluster.local
                timeout: 10s
              authorization_request:
                allowed_headers:
                  patterns:
                    {% for request_header in request_headers %}
                    - exact: {{ request_header }}
                    {% endfor %}
              authorization_response:
                allowed_upstream_headers:
                  patterns:
                      {% for response_header in response_headers %}
                      - exact: {{ response_header }}
                      {% endfor %}
  {% endfor %}

  workloadSelector:
    labels:
      istio: ingressgateway
