apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ model_name }}
  labels:
    app.{{ app_name }}.io/is-workload-entity: "true"
type: kubernetes.io/tls
data:
  tls.crt: {{ ssl_crt }}
  tls.key: {{ ssl_key }}
