options:
  kind:
    default: ''
    description: Kind of Istio gateway. Must be set to one of `ingress`, `egress`
    type: string
  gateway_service_type:
    default: 'LoadBalancer'
    type: string
    description: |
      Type of service for the ingress gateway out of: 'ClusterIP', 'LoadBalancer', or "NodePort".
