# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
coverage
lightkube
ops
pytest
pytest-mock
pyyaml
-r requirements.txt

# Explicitly adding these packages as they were removed from requirements.txt
# Remove them when canonical/bundle-kubeflow#1255 gets resolved
cosl==0.0.57
lightkube==0.17.1
lightkube-models==1.32.0.8
requests==2.32.3
serialized-data-interface==0.7.0
