charmed-kubeflow-chisme
coverage
jinja2
lightkube
ops
pytest
pytest-mock
pyyaml
tenacity
-r requirements.txt

# cryptography and jsonschema are required by the tls-certificates library
# but those packages are installed from binary to avoid build time issues.
# Adding them explicitly in these requirements as the unit tests need them.
cryptography
jsonschema
