jinja2
ops
packaging
cffi

# Commenting due to canonical/bundle-kubeflow#1255
# from prometheus_k8s.v0.prometheus_scrape.py
#cosl
#charmed-kubeflow-chisme
# required for tls interface 
#cryptography
#jsonschema
#lightkube
#lightkube-models
#requests
#serialized-data-interface
#tenacity
