name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        charm: [pilot, gateway]
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt update && sudo apt install tox
    - run: tox -e ${{ matrix.charm }}-lint

  unit:
    name: Unit Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        charm: [pilot, gateway]
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt update && sudo apt install tox
    - run: tox -e ${{ matrix.charm }}-unit

  integration:
    name: Integration Test
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo
      uses: actions/checkout@v2

    - uses: balchua/microk8s-actions@v0.2.2
      with:
        channel: 'latest/stable'
        addons: '["dns", "storage", "rbac", "metallb:10.64.140.43-10.64.140.49"]'

    - name: Install dependencies
      run: |
        set -eux
        sudo snap install charmcraft --classic --channel=latest/candidate
        sudo snap install juju --classic
        sudo snap install juju-bundle --classic
        sudo snap install juju-wait --classic
        sudo apt update
        sudo apt install tox
        sudo usermod -a -G lxd $USER

    - name: Wait before bootstrap
      run: |
        set -eux
        sg microk8s -c 'microk8s status --wait-ready'
        kubectl wait --for=condition=available --timeout=5m -nkube-system deployment/coredns deployment/hostpath-provisioner

    - name: Bootstrap
      run: |
        sg microk8s -c 'juju bootstrap microk8s uk8s'
        sg microk8s -c 'juju add-model istio-system'

    - run: sg microk8s -c 'KUBECONFIG=/home/runner/.kube/config tox -e integration -- --model istio-system --destructive-mode'
      timeout-minutes: 30

    - name: Setup Debug Artifact Collection
      run: mkdir tmp
      if: failure()

    - name: Collect charmcraft logs
      if: failure()
      run: cat /home/runner/snap/charmcraft/common/charmcraft-log-* | tee tmp/charmcraft.log

    - name: Collect Juju status
      if: failure()
      run: juju status | tee tmp/juju-status.txt

    - name: Collect Juju log
      if: failure()
      run: juju debug-log --replay --no-tail | tee tmp/juju-status.txt

    - name: Collect Kube status
      if: failure()
      run: |
        kubectl get all -A | tee tmp/kube-summary.txt
        kubectl describe virtualservices -A | tee tmp/kube-virtualservices.txt
        kubectl describe gateways -A | tee tmp/kube-gateways.txt
        kubectl describe deployments -A | tee tmp/kube-deployments.txt
        kubectl describe replicasets -A | tee tmp/kubectl-replicasets.txt
        kubectl exec -n istio-system istio-pilot-0 --container charm -- agents/unit-istio-pilot-0/charm/istioctl analyze -n default | tee tmp/istioctl-analyze.txt

    - name: Collect Kube logs
      if: failure()
      run: |
        kubectl logs -n istio-system --tail 1000 -lapp.kubernetes.io/name=istio-pilot -c charm | tee tmp/istio-pilot.log
        kubectl logs -n istio-system --tail 1000 -lapp.kubernetes.io/name=istio-ingressgateway-operator -c charm | tee tmp/istio-ingressgateway-operator.log

    - name: Upload debug artifacts
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: test-run-artifacts
        path: tmp
